.para {
    font-size: 24px;
}

.para-1 {
    color: red;
    font-style: italic;
    text-decoration: line-through;
    text-align: center;
}

.para-2 {
    color: blue;
    font-weight: 700;
    text-decoration: underline;
    text-align: left;
    text-transform: uppercase;
    text-indent: 50px;
}

.para-3 {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    text-align: right;
    text-transform: lowercase;
}

.para-4 {
    color: blueviolet;
    text-transform: capitalize;
    text-align: justify;
}